node_modules
.env
.env.local
.env.staging
.env.productio
.DS_Store
npm-debug.log
uploads/
.vscode/uploads/
scripts/imports/
scripts/reports/
data/questions.jso
data/results.jso
data/teachers.jso
data/tests.jso
tests.jso
backups/